.tabStyling {
  transition: border-color 200ms ease;

  &[data-active] {
    border-bottom: rem(3px) solid transparent;
    border-radius: 2px;
    border-bottom-color: var(--mantine-primary-color-5);
  }
}

.cardBg {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}
