.card {
  padding: var(--mantine-spacing-lg);
  border: none;
  cursor: pointer;

  @mixin hover {
    background-color: var(--mantine-color-gray-1);
  }

  @media (min-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-xl);
  }
}

.image {
  width: 40px;

  @media(min-width: $mantine-breakpoint-sm) {
    width: 50px;
  }
}