.cardBg {
  color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-dark-0));
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.cardImage {
  background: light-dark(
    url(../../assets/icons/buttons/IconPlusBox.svg),
    url(../../assets/icons/buttons/IconPlusBoxDark.svg) 
  ) no-repeat center center/contain;
}
