.card {
  @media (max-height: $mantine-breakpoint-sm) {
    padding: rem(30px);
  }
}

.title {
  @media (max-height: $mantine-breakpoint-sm) {
    font-size: rem(30px);
  }
}

.subTitle {
  @media (max-height: $mantine-breakpoint-sm) {
    font-size: rem(13px);
  }
}