.title {
  color: white;
  font-size: rem(40px);
  font-family: "Baloo Bhai 2", sans-serif;

  @media (max-height: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.subTitle {
  color: white;
  font-size: rem(25px);
  font-family: "Baloo Bhai 2", sans-serif;

  @media (max-height: $mantine-breakpoint-sm) {
    font-size: rem(18px);
  }
}