.gap {
  gap: 18px;
  padding: 14px 0;

  @media (min-width: $mantine-breakpoint-sm) {
    gap: 32px;
    padding: 0;
  }
}

.flexItem {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;

  @media (min-width: rem(430px)) {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  font-size: 16px;

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.subHeader {
  font-size: 12px;
  
  @media (min-width: $mantine-breakpoint-sm) {
    font-size: 14px;
  }
}