

.cardFooter {
  position: relative;
  bottom: 0;
  left: 0;
  height: rem(80px);
  width: 100%;
  margin-top: rem(20px);
  background-color: transparent;
}

.footerText {
  position: absolute;
  bottom: 0;
  left: 0;
  height: rem(120px);
  background-color: white;
  text-align: center;
  padding: rem(30px) rem(30px);
}
